PORT=3000
NODE_ENV=development
MONGODB_URL=mongodb://127.0.0.1:27017/divar
JWT_SECRET_KEY=your_jwt_secret_key
COOKIE_SECRET_KEY=your_cookie_secret_key
MAP_IR_URL=https://map.ir/reverse/no
MAP_API_KEY=your_map_ir_api_key
